@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --Color-bodyBG: #f1f1f1;
    --color-primary-orange: #FF4500;
    --color-primary-orange-light: #ffb9a0;
    --color-primary-blue: #007dd6;
    --color-primary-blue-l:#0095ff;
    --color-primary-blue-light:#747474;
    --color-primary-blue-bg:#ffffff;
    --color-info-dark: #5f5f5f;
    --color-danger:rgb(206, 36, 36);
    --color-success:#2cbd50;
    --color-warning:rgb(255, 199, 45);
    --color-dark:rgb(53, 53, 53);
    --color-dark-variant:#9ca8b4;
    --border-raduis-1:2px;

}



#calendar{
    box-shadow: 0 0 20px 0 #cececec2;
    border-radius: 10px;
    padding: 20px;
}

#addPlan{
    margin-top: -40px;
}


.modal-body div{
    margin: 20px;
}


